<div class="col-9 col-md-6 offset-md-3">
  <blockquote class="blockquote">
    <p class="mb-0 comment-content">{{ comment.content }}</p>
    <footer class="blockquote-footer">
      {{ owner_name }} <small>{{ comment.created.strftime("%b %d, %Y") }}</small>
    </footer>
  </blockquote>
</div>

<div class="col-3 align-self-center">
    {% if current_user_id == comment.owner_id %}
    <form class=""action="/blog/deletecomment/{{post_id}}/{{ comment.key().id() }}" method="post">
      <button class="btn btn-danger" type="submit" value="delete">Delete</button>
    </form>
  {% endif %}
</div>
