{% block header %}
<header>
  <div class="row align-items-center">
    <div class="col-md-12">
      <nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <a class="navbar-brand" href="/blog">Basic Blog</a>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <form class="form-inline" role="search" action="/blog/search" method="GET">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search" name="search"></input>
              <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </form>
          <ul class="navbar-nav mr-auto my-auto">
            <li class="nav-item mx-auto">
              <a class="nav-link" href="/blog">Home</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link" href="/blog/newpost">Create</a>
            </li>
            <li class="nav-item mx-auto">
              <a class="nav-link" href="/blog/user/{{ user_id }}">Profile</a>
            </li>
          </ul>

        </div>
      </nav>
    </div>
  </div>
</header>
{% endblock %}
