{% extends "base.html.j2" %}

{% block content %}
<br>
  <div class="row">
    <div class="col-md-12 align-center">
      {{ post.render() | safe }}
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    {% if can_edit %}
      <div class="col text-center">
        <a class="btn btn-primary"href="/blog/edit/{{ post.key().id() }}">edit</a>
      </div>
      <div class="col text-center">
        <a class="btn btn-danger" href="/blog/delete/{{ post.key().id() }}">delete</a>
      </div>
    {% endif %}
    <div class="col text-center">
      {% if unlike %}
        <form action="/blog/unlike/{{ post.key().id() }}" method="POST">
          <button class="btn btn-primary" type="submit">Unlike</button>
        </form>
      {% else %}
        <form class="form-like" action="/blog/like/{{ post.key().id() }}" method="POST">
          <button class="btn btn-primary" type="submit">Like</button>
        </form>
      {% endif %}
    </div>
</div>
<br>
<div class="row">
  <div class="col">
    <form class="form-comment" action="/blog/newcomment/{{ post.key().id() }}" method="POST">
      <div class="form-group">
        <textarea class="form-control" name="content" placeholder="Meaningful comment here"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" >Submit</button>
    </form>
  </div>
</div>
<br>
  {% if comments %}
    {% for comment in comments %}
      <div class="row justify-content-center">

          {{ comment.render(post.key().id(), current_user) | safe}}

      </div>
    {% endfor %}
  {% endif %}
  <div>
    {{ error_msg }}
  </div>
{% endblock %}
