{% extends "base.html.j2" %}

{% block content %}
  {{ post.render() | safe }}
  {% if can_edit %}
  <div class="edit">
    <a href="/blog/edit/{{ post.key().id() }}">edit</a>
  </div>
  <div class="delete">
    <a href="/blog/delete/{{ post.key().id() }}">delete</a>
  </div>
  {% endif %}
{% endblock %}
