  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        <a href="/blog/{{post.key().id()}}">{{ post.subject }}</a>
      </h4>
      <h6 class="card-subtitle">
        {{ post.created.strftime("%b %d, %Y") }}
        <a class="text-muted" href="/blog/user/{{ post.owner.key().id() }}"><small>by {{ owner.username }}</small></a>
      </h6>
    </div>
    <div class="card-block ">
      <p class="card-text post-content">{{ post.content }}</p>
    </div>
    <div class="card-footer text-muted">
      <div class="card-text">
        {{ post.likes.count() }} likes
      </div>
      <div class="card-text">
        {{ post.comments.count() }} comments
      </div>
    </div>
  </div>
