{% extends "base.html.j2" %}

{% block content %}
  <h1>Summary for {{user.username}}</h1>
  <div class="user-posts">
    <h3>Your posts:</h3>
    <ul>
      {% for post in posts %}
        <li><a href="/blog/{{ post.key().id() }}">{{ post.subject }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="user-comments">
    <h3>Your comments:</h3>
    <ul>
      {% for item in comment_subject_tuple %}
        <li><a href="/blog/{{ item[0].post_id }}">{{item[1]}}</a>
        <ul>
          <li>{{ item[0].content }}</li>
        </ul>
      {% endfor %}
    </ul>
  </div>
  <div class="user-likes">
    <h3>Your likes:</h3>
    {% if like_subject_tuple %}
      <ul>
        {% for item in like_subject_tuple %}
          <li><a href="/blog/{{ item[0].post_id }}">{{item[1]}}</a></li>
        {% endfor %}
      </ul>
    {% else %}
    <div class="alert alert-info text-center" role="alert">
      <strong>Quick!</strong> Go like a post (or several), then it will appear here
    </div>
    {% endif %}
  </div>
{% endblock %}
