{% extends "base.html.j2" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1 class="display-3">Welcome, {{username}}</h1>
      <p class="lead">Congratulations! You're now signed up to the blog! Check out some of the cool stuff you can do</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

  </div>
</div>
{% endblock %}
